* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Fira Code",  FontAwesome;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.5px solid @color7;
    background: rgba(21, 18, 27, 0.6);
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: @background;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: @color2;
}


#workspaces {
    background: rgba(8, 7, 10, 0.6);
    margin: 5px;
    padding: 2px 5px;
    border-radius: 12px;
    border: 0.5px solid @color2;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 8px;
    color: @foreground;
    background-color: @color0;
    transition: all 0.3s ease-in-out;
}


#workspaces button.empty {
    opacity: 0.4;
}

#workspaces button.active {
    color: @background;
    background-color: @color7;
    border-radius: 8px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @background;
}

#workspaces button:hover {
    background-color: @color7;
    color: @background;
}

#clock,
#network,
#window,
#custom-media,
#pulseaudio,
#tray,
#cpu,
#memory,
#custom-exams,
#custom-ramadan,
#custom-sleep,
#custom-gamemode,
#custom-user {
    background-color: @color0;
    margin: 5px 2px;
    padding: 0px 10px;
    border-radius: 12px;
    border: 0.5px solid @color8;
}

#custom-user {
    color: @color2;
}

#custom-exams {
    color: @color3;
}
#custom-exams.warning { color: @color11; }
#custom-exams.critical { color: @color1; }

#custom-ramadan {
    color: @color14;
}

#custom-sleep {
    color: @color13;
}
#custom-sleep.warning { color: @color11; }
#custom-sleep.critical { color: @color1; }

#custom-gamemode {
    color: @color5;
}

#cpu {
    color: @color4;
}

#memory {
    color: @color6;
}

#clock {
    color: @color3;
}

#network {
    color: @color10;
}

#pulseaudio {
    color: @color12;
}

#pulseaudio.microphone {
    color: @color14;
}

#window {
    background: @color7;
    color: @background;
    margin: 5px 10px;
}

#tray {
    padding: 0 10px;
}

